<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css//styles.css">

</head>
    
<body>
    <h1>
        {{>header}}
       {{title}}
    </h1>
    <img src="/img/elephant.jpg" alt="images">
   
    <p> Created By: {{name}} </p>
     <a href="/"> Home</a>
    <a href="/help"> Help</a>
    {{>footer}}

</body>

</html>