<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./css//styles.css">
</head>

<body>
    <h1>
        {{>header}}
        {{title}}
    </h1>
    
    <p>Created By: {{name}}</p>
    <a href="/about"> About</a>
    <a href="/help"> Help</a>
    {{>footer}}
</body>

</html>